#header
{
    padding:5px 10px;
    margin-bottom: 10px;
}

textarea 
{
    resize: none;
}

input[type="checkbox"] 
{
    display:none;
}

input[type="checkbox"] + label
{
    display:inline-block;
    width:32px;
    height:32px;
    vertical-align:middle;
    margin:-1px 4px 0 0;
    background:url('../img/unchecked.png') left top no-repeat;
    cursor:pointer;
}

input[type="checkbox"]:checked + label
{
    background:url('../img/checked.png');
}

#contentBox 
{
    margin: 0 auto;
    width: 100%;
    overflow: auto;
    display: inline-block;
}

.translate
{
    float: left;
    width: 25%;
    margin-left: 3%;
    margin-right: 1%;
    display: inline;
    word-wrap: break-word;
}

#nav
{
    padding:5px 10px;
    background: #c99;
}

