<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;
    charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="{{context}}/css/site.css">
    <title>Fun with translations :)</title>
  </head>
  <body>
    <div id="header">
<table><tr><td>

<textarea id="text" rows="5" cols="40">a rose by any other name</textarea>
<br>     
<button type="button" id="clickme">click</button>
</td>
<td>
from: <br>
      <select id="from">
        {% for lang in languages %}
        <option value="{{lang}}">{{lang}}</option>
        {% endfor %}
      </select>
<td>
<td>
       thru:
      <table id="thru"></table>
</td></tr></table>        
    </div>
    <div id="contentBox">
    </div>
    <script src="{{context}}/js/transfun.js" type="text/javascript">
    </script>
    <script>
      translationfun.core.init();
    </script>
  </body>
</html>
